#v-pills-tabContent {
    text-align:center;
    align-content: center;
    align-items: center;
    color: green;
    border: pink solid 2px;
    width: absolute;
}

#work {
    color:white;
    background-color: #2c3840;
    align-content: center;
    align-items: center;
    padding-top: 45px;
}