
#footer {
    border:2px solid green;
    width:100vw;
    height:90%;
    /* max-width:100%; */
    /* width:relative; */
    /* max-width:100%; */
    position:fixed;
    background-color:whitesmoke;
    top:545px;
    z-index: 0;
    background-color: darkred;
    color:whitesmoke;
    align-content: center;
    align-items: center;
    text-align: center;
    padding-top:10px;
    /* padding-bottom:20px */
}


#icon {
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 4rem;
    color:white;
    background-color:darkred;
    padding-bottom:10px;
    height: 50px;
    border: 2px solid thistle;
    /* overflow: hidden; */
    display:flex;
    padding-left:30px;
}

#location {
    border:2px solid khaki;

}

#full-stack{
    border: 2px solid olive;

}

#email{
    border: 2px solid lightseagreen;
}

/* #empty {
    border: 2px solid orange

} */