.footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    border:2px solid  green;
    color:whitesmoke;

  }

.header-one {
    grid-column: 1;
    /* grid-row: 1 / 3; */
    grid-row: 1;
    /* border:2px solid lawngreen; */
    align-content: center;
    align-items: center;
    text-align: center;
    color:whitesmoke;
    padding-bottom: 4rem;
}

.header-two {
    display:grid;
    grid-column: 1;
    grid-row: 2 / 3;
    border:2px solid white;
    color:whitesmoke;
}


#footer {
    
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-gap: 10px; */
    /* grid-auto-rows: minmax(100px, auto); */

    display: grid;

    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(50px, auto);

    width:100vw;
    height:100%;
    position:fixed;
    /* top:580px; */
    /* top:550px; */
    z-index: 1;
    background-color:salmon;
    color:whitesmoke;
    /* border: 2px solid white; */
    /* align-content: center;
    align-items: center;
    text-align: center; */



    /* padding-bottom:10px; */
    /* border:2px solid red; */
}

#i {
    font-size:3.00rem;
    /* display:flex;
    justify-content: space-around; */
    letter-spacing: 1rem;
    /* border:2px solid green; */
    align-content: center;
    align-items: center;
    align-self: center;

    justify-content: center;
    justify-items: center;
    justify-self: center;

    text-align: center;
    /* justify-items: center; */
    padding-bottom:20rem;
}


#contact-cont {
    display: flex;
    flex-direction:column;
    /* justify-content: left; */
    justify-content: space-between;
    font-size:1rem;
    border:1px solid white;
    align-content: center;
    align-items: center;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    letter-spacing:0rem;
    padding-top:3px;
    padding-bottom:3px;
}