#text {
    border: 2px green solid;
    justify-content: center;
    text-align: center;
    padding:5px 5px 5px 5px;
}

:hover {
    color:teal;
    /* Color of the text match the color of the background  */
    transition: color 1.5s ease-in;
}