#navbar-example2 {
    /* width: 90%; */

    /* z-index: 1;
    color:darkred;
    background-color: black;
    align-items: center */
    height: 4rem;
    border: 2px solid aqua;
}

#pills {
    /* color:darkred; */
}