#navbar-example2 {
    /* width: 90%; */

    /* z-index: 1;
    color:darkred;
    background-color: black;
    align-items: center */
    height: 4rem;
    border: 2px solid aqua;
    background-color: darkred;
}

#pills {
    color:darkred;
}

#nav-icon{
   align-content: left;
   align-items: left;
   text-align: left;
   justify-content: left;
   justify-items: left;
   text-justify: left;
   /* float:left; */
   font-size: 3rem;
}