#about {
    color:white;
    background-color: #2c3840;
    align-content: center;
    align-items: center;
    padding-top: 45px;
    text-align: center
}

#about-text {
    text-align:center;
    margin-right: 3rem;
    /* margin-left: 1rem; */
}