#p {
    /* border:2px solid seagreen; */
    margin-bottom: 2rem;
    margin-top:0rem;
    height:50%;
    width: 100%;
    border: 2px solid green;

    /* potential options */
    /* background-color:cornsilk; */
    /* background-color:floralwhite */
    /* background-color:rosybrown; */

    /* This is the closet match to the background of the skyline */
    background-color: ivory;

    

}