.work {
    display: grid;
    grid-template-columns: repeat(3, .5fr);
    /* grid-template-rows: repeat (3, 1fr); */
    grid-template-rows: repeat (3, .5fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    border:2px solid  green;
    background-color: teal;
    /* text-align:center; */
}

.p-title {
    display:grid;
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    /* border: 2px solid purple; */
    /* height:50px; */
    z-index:0;
    background-color:rosybrown;
    font-size:3rem;
    text-decoration:underline;
}

.p-one {
    display: grid;
    /* grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (3, 1fr); */
    grid-template-columns: repeat(3, .5fr);
    grid-template-rows: repeat (3, .5fr);
    grid-column: 2;
    /* grid-row: 1;  */
    /* border: 2px solid yellow; */
    align-items: left;
    justify-items: left;
    align-content: left;
    justify-content: left;
    justify-self: left;
    background-color: lightgray
}


.p-two {
    display: grid;
    /* grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (3, 1fr); */
    grid-column: 2;
    grid-row: 2;
    border: 2px solid pink;
}

.p-three {
    display: grid;
    /* grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (3, 1fr); */
    grid-column: 3;
    grid-row: 2;
    border: 2px solid olivedrab;
}


#projects {
    display:grid;
    grid-template-columns: repeat(3, .5fr);
    grid-template-rows: repeat (3, .5fr);
    /* grid-column: 1; */
    /* grid-row: 2/3; */
    border: 2px solid pink;
}


#image {
    /* border: 2px solid white; */
    grid-column: 2;
    grid-row:1;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    display:flex;
    margin: 10px;
    padding: 10px;
    color: silver;
}

#name {
    border: 2px solid black;
    grid-column:2;
    grid-row: 2;

    display:flex;

    align-self: flex-end;

    flex-direction:row-reverse;
    align-items: flex-end;
    justify-self: center;

    /* justify-content: center; */
    

    /* justify-content: space-around; */


    /* justify-self:center; */

    /* margin: 10px; */
    /* padding: 10px; */
    
    /* margin-top:50px; */
    padding-top: 0px;
    color: silver;

}

#description {
    border: 2px solid yellow;
    grid-column: 2;
    grid-row:3;
    display:flex;
    /* justify-items: center; */
    justify-content: center;
    margin: 10px;
    padding: 10px;
    color: black;
    text-align:center

    /* justify-self: center; */
    /* align-content: center; */
    /* align-items: center; */
    /* text-align: center; */
}