.container {
    align-content: center;
    align-items: center;
    text-align: center;
}

#work {
    background-color: darkred;
    color:whitesmoke;
    border:2px solid blue;
}

#box {
    border: solid 2px yellow;
    /* display:flex; */
}

.portfolio-item {
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
  }
  
  .pagination {
    margin-bottom: 30px;
  }

  body {
    padding-top: 54px;
    /* display:flex; */
  }