
/* :hover {
    color:blanchedalmond;
    transition: color 7.5s ease-in;
} */

/* Jumbotron */
#jumbotron-div {
    /* height:37rem; */
    align-content: center;
    /* align-items: center; */
    /* display:block; */
    text-align: center;
    z-index: 1;
    border: 2px solid lawngreen;
    overflow: hidden;
    /* background-color:skyblue; */
    background-color:cadetblue;

    /* width:fixed; */
}

#jumbotron-title {
    align-content: center;
    align-items: center;  
    text-align: center; 
    overflow: hidden; 
}

#jumbotron-name {
    align-content: center;
    align-items: center;
    text-align: center;
    border: solid 3px purple;
    margin-bottom: 1rem;
    font-size:3.5rem;
    /* font-family:"Roboto"; */
}

/* Columns */
/* Entire */
#entire-column {
    border: 2px solid pink;
    /* display:inline-flex; */
    display:flex;
    overflow: hidden;
    /* flex-direction: column;
    justify-content: space-between */

    /* justify-content: space-between; */
    /* margin-top:3rem; */

    /* position:relative; */
 }

/* Column 1 */
#col1 {
    border:2px solid green;
    /* display:flex; */
    /* align-self:flex-end;
    flex-wrap: wrap; */
    /* justify-content: space-between; */
    overflow: hidden;
}



/* Column 2 */
#jumbotron-photo {
    align-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid blue;
    margin-top: 0rem;
}

/* col 3 */
#col3 {
    border: 2px solid slateblue;
}


/* Text */
#about-me-text:hover{
    /* border:2px solid peru; */
    /* visibility: hidden; */
    /* color:red; */
    margin-top:1rem;
    margin-bottom:1rem;
    justify-content: left;
    text-align: center;
}

#exp-text {
    border-bottom:2px solid white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    /* display:hidden; */
    /* visibility: hidden; */

    /* top:50rem; */
    /* text-align: left; */
    /* padding-top:1.5rem; */
}

#page-tech-text {
    /* visibility: hidden; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    border-bottom: 2px solid white;
    padding-bottom: .8rem;
}

#canvas-text{
    /* border-top: 2px solid white;
    border-bottom: 2px solid wheat; */
    text-align: left;
    margin-top:1rem;
    /* margin-bottom: 1rem; */
    /* margin-bottom:1rem; */
    /* font-size:1rem; */
    /* visibility: hidden; */
}

#react{
    font-size: 2rem;
}

#javascript{
    font-size:2rem;
}


/* Titles */
#ex {
    border:2px solid yellow;
    /* display:flex; */
    justify-content: center;
    margin-top:1rem;
    /* color:red; */
    /* align-content: flex-start; */
    /* top:37%; */
    /* position:absolute; */
}

#about-me{
    border:2px solid purple;
    /* justify-content: flex-end; */
    justify-content: space-between;
    /* bottom:11.5rem; */
    /* position:relative; */
    /* position:relative; */
    /* display:flex; */
    /* justify-content: center; */
    /* align-content: flex-end; */
}

#canvas{
    border:2px solid purple;
    /* overflow: hidden; */
    margin-bottom:1rem;
    margin-top:1rem;
}

#page-tech {
    border:2px solid yellow;
    overflow: hidden;
    margin-top:1rem;
}






#wow{
    /* display:flex; */
    /* justify-content:center;  */
    /* flex-direction: column;
    justify-content: flex-start; */

}







#look {
    border:2px solid cadetblue;
    /* overflow: hidden; */
    /* visibility: hidden; */

}





