#jumbotron-div {
    height:47rem;
    align-content: center;
    align-items: center;
    display:block;
    text-align: center;
    z-index: 1;
    border: 2px solid royalblue;
}

#jumbotron-title {
    align-content: center;
    align-items: center;  
    text-align: center;  
}

#jumbotron-photo {
    align-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid salmon;
    margin-top: 0rem;
    /* top:rem; */
    /* padding-bottom:5rem; */
}

#jumbotron-name {
    align-content: center;
    align-items: center;
    text-align: center;
    border: solid 3px purple;
    margin-bottom: 1rem;
    font-size:3.5rem;
}

/* #icon {
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    color:darkred;
} */


#attr {
    border: solid 3px blue;
    align-content: center;
    align-items: center;
    text-align: center;
    /* top:24px; */
    margin-bottom:3rem;
    background-color:maroon;
    /* white-space: nowrap; */
    /* text-align:center; */
    font-size: 3.0rem;
    color:white;
    justify-content:space-evenly;
    padding-right:3rem;
    display: flex;
    /* justify-content:space-evenly; */
    /* text-align: justify; */
    /* display:inline; */
}


#symbols {
    border: solid 3px blue;
    justify-content:space-evenly;
    background-color: maroon;
    font-size: 3.0rem;
    /* align-content: center;
    align-items: center;
    text-align: center; */
    color:white;
    margin-right: 1rem;

    /* word-spacing: 10rem; */
    
}

#simp {
    text-align: right;

}

#clean {
    text-align:center;
}

#direct {
    text-align: left;

}

#dir {
    /* align-content: left;
    align-items: left;
    text-align: left; */
    justify-content: space-evenly;
    color:skyblue;
}

#horizontal {
    color:lemonchiffon;
}

#rec {
    color:aquamarine;

}


/* Hidden Info */
#experience-text {
    border:2px solid peru;
    text-align: left;
    /* padding-top:1.5rem; */
}

#experience {
    border:2px solid brown;
    /* padding-top:1.5rem; */
}

#page-tech {
    border:2px solid brown;
}

#about-me-text{
    border:2px solid peru;
    justify-content: left;
    text-align: left;
}

#about-me{
    border:2px solid brown;
    /* position:absolute; */
    margin-top:1.85rem;
    width:100%;
    text-align: center;
    align-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
   
}

.clearfix {
    overflow:auto;
}

#canvas-text{
    border: 2px solid peru;
    text-align: left;
    font-size:1rem;
}

#canvas{
    border:2px solid brown;
    text-align: center;
    align-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    margin-top:1rem;
}

#react{
    font-size: 2rem;
}

#javascript{
    font-size:2rem;
}

.col-4 {
    border:2px solid white;
    /* font-size:1.25rem; */
}

#special {
    /* display:inline-flex; */
    /* justify-content: space-between */
    /* margin-top:3rem; */
    position:relative;
}



/* #footer {
    border:2px solid green;
    width: absolute;
    width:100%;
    height:2rem;
    text-align: left;
    background-color:yellow;
    position: fixed;
    z-index: 2;
    margin-top:4rem;
} */
