.wrapper {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
  /* grid-auto-rows: minmax(100px, auto); */
  grid-auto-rows: minmax(50px);
  /* border:2px solid red; */
  margin-left: 25px;
  margin-right: 25px;
}

#jumbotron-name {
    align-content: center;
    align-items: center;
    text-align: center;
    /* border: solid 3px purple; */
    margin-bottom: 1rem;
    font-size:3.5rem;
    /* font-family:"Roboto"; */
}

#react{
    font-size: 1.3rem;
}

#javascript{
    font-size:1.3em;
}

  .one {
    grid-column: 1;
    grid-row: 1 / 3;
    border:1px solid olive;
  }
  .two { 
    grid-column: 2;
    grid-row: 1 / 3;
    border:1px solid teal
  }
  .three {
    grid-column: 1;
    grid-row: 3 / 5;
    border:1px solid purple
  }
  .four {
    grid-column: 2;
    grid-row: 3 / 5;
    border:1px solid greenyellow
  }

  #spacing {
      margin-left: 2rem;
      margin-right:2rem;
      margin-top:1rem;
  }

  .header {
    text-align:center;
    text-decoration: underline;
  }

  #title {
    display:flex;
    text-align: center;
    color: wheat;
    background-color:olive;
  
    justify-content: center;
    justify-items: center;
    text-decoration: underline;
}





