.work {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    border:2px solid  green;
    background-color:teal;
    /* text-align:center; */
}

.title {
    grid-column:2;
    text-align: center;
    border: 2px solid purple;
}



/* .container {
    align-content: center;
    align-items: center;
    text-align: center;
} */

#work {
    background-color: rosybrown;
    color:whitesmoke;
    border:2px solid blue;
}

#ha {
    display:flex;
    align-items: flex-start;
    flex-wrap:wrap;
    /* border:2px solid khaki */
}

#day {
    border:2px solid pink;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    /* justify-content: left; */
    align-content: left;
    flex-direction: row;
    width:100%;
    display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
    /* padding-right:5rem;
    margin-left:5rem; */
}

#pic-row{
    border:2px solid lawngreen;
    justify-content: center;
    display: flex;
    flex-wrap:wrap;
    display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

#card-body{
    border:2px solid blue;
    text-align: center;
}

#n{
    border:2px solid aquamarine;
}

#box {
    border: solid 2px yellow;
    /* display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-right:3rem; */
    display: flex;
  align-items: flex-start;
  flex-wrap: wrap;


}

#xob {
    border: solid 2px black
}

#card {
    border:solid 2px red;
    /* display:flex;
    flex-wrap:wrap; */
    display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
    width:95%;
    background-color:teal
}

#image{
    width:9rem
}

#writing {
    border:2px solid black;
    /* display: flex;
  align-items: flex-start;
  flex-wrap: wrap; */
}

.portfolio-item {
    /* margin-top:2rem;
    margin-bottom: 5rem;
    margin-right: 5rem;
    margin-left: 5rem; */
    /* display: flex;
  align-items: flex-start;
  flex-wrap: wrap; */


    /* background-color:teal; */
    background-color:red;
    border: 2px solid tan;
  }
  
  .pagination {
    /* margin-bottom: 30px; */
    background-color:yellow;
    border:2px solid green;
    /* display: flex;
  align-items: flex-start;
  flex-wrap: wrap; */
  }

  body {
border: 2px solid green;
/* display: flex;
  align-items: flex-start;
  flex-wrap: wrap; */
    /* This is important /*
    /* padding-top: 54px; */
  }